
// prevent rubber-band effect in webkit browsers when scrolling
// http://mir.aculo.us/2011/07/29/prevent-rubber-band-scrolling-for-single-page-apps-in-safari-5-1/
html, body {
  height: 100%;
  overflow: hidden
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Arial, sans-serif;
}

.editor-drag-active,
.editor-tool-normal .editor-map-object,
#editor-sidebar div.img {
  cursor: move
}

.editor-tool-select #editor-viewport {
  cursor: crosshair;
}

#editor-viewport {
  // &.editor-tool-normal {
  //   cursor: auto;
  // }
  // &.editor-tool-hand {
  //   cursor: url('/images/editor/tool-hand.gif'), auto;
  // }
  // &.editor-tool-select {
  //   cursor: url('/images/editor/tool-select.gif'), auto;
  // }
  // &.editor-tool-bucket {
  //   cursor: url('/images/editor/tool-bucket.gif'), auto;
  // }

  .editor-layer, .editor-layer-content, .editor-layer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .editor-layer .editor-layer-content {
    opacity: 0.5;
  }
  .editor-layer-selected .editor-layer-content {
    opacity: 1
  }
  .editor-layer-selected .editor-layer-bg {
    // background: white;
    opacity: 0.5;
  }
}

#editor-nav {
  $height: 40px;

  background: #222;
  color: white;
  padding-left: 60px;
  font-size: 13px;
  height: $height;
  line-height: $height;
  overflow: hidden;

  > div {
    float: left;
    margin-right: 40px
  }
}

#editor-main {
  position: relative;
}

$sidebar-width: 300px;

#editor-viewport {
  position: absolute;
  top: 0;
  left: 0;
  // height is determined via JS
  width: 100%;
  margin-right: $sidebar-width;
  background-color: silver;
  height: 300px;
  overflow: hidden;

  .editor-dragged-image {
    position: absolute;
    z-index: 10;
  }

  .editor-map-object.editor-selected {
    border: 1px solid red;
    -webkit-transform: translate(-1px, -1px);
    -moz-transform: translate(-1px, -1px);
  }
}

#editor-map {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;

  &.editor-map-unloaded {
    display: none
  }
}

#editor-toolbox {
  border-radius: 5px;
  border: 1px solid #666;
  background-color: rgba(235,235,235,0.8);
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  cursor: auto !important;

  > img {
    display: block;
    margin-bottom: 10px;
    border: 1px solid transparent;
    width: 24px;
    height: 21px;
    opacity: 0.5;

    &:hover, &.editor-active {
      opacity: 1;
    }
  }
}

#editor-sidebar {
  $spacing: 10px;

  position: absolute;
  width: $sidebar-width;
  // height is determined via JS
  top: 0;
  right: 0;
  background-color: #999;
  height: 300px;
  padding: $spacing;
  overflow-y: scroll;

  div.img {
    display: inline-block;
    vertical-align: top;
    margin-right: $spacing;
    margin-bottom: $spacing;
    overflow: hidden;
  }
}

.editor-map-object {
  position: absolute;
  z-index: 5;

  &.editor-drag-helper {
    opacity: 0.7;
  }
}

// #editor-sticky-cursor {
//   position: absolute;
//   z-index: 100;
// }

// marching ants like it's 1995
// http://sunpig.com/martin/archives/2010/02/10/marching-ants-in-css.html
.editor-selection-box {
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px dashed black;
  -moz-border-image: url(/images/editor/selection-border.gif) 1 repeat;
  -webkit-border-image: url(/images/editor/selection-border.gif) 1 repeat;
  border-image: url(/images/editor/selection-border.gif) 1 repeat;
}
