
// prevent rubber-band effect in webkit browsers when scrolling
// http://mir.aculo.us/2011/07/29/prevent-rubber-band-scrolling-for-single-page-apps-in-safari-5-1/
html, body {
  height: 100%;
  overflow: hidden
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Arial, sans-serif;

  &.editor-drag-active {
    cursor: move
  }
}

// change box model so that padding and margin do not affect specified dimensions
// this just makes things a hell of a lot easier
// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#editor-nav {
  $height: 40px;

  background: #222;
  color: white;
  padding-left: 60px;
  font-size: 13px;
  height: $height;
  line-height: $height;
}

#editor-main {
  position: relative;
}

$sidebar-width: 300px;

#editor-viewport {
  position: absolute;
  top: 0;
  left: 0;
  // height is determined via JS
  width: 100%;
  margin-right: $sidebar-width;
  background-color: silver;
  height: 300px;
  overflow: hidden;

  .editor-dragged-image {
    position: absolute;
    z-index: 10;
  }
}

.editor-map {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#editor-sidebar {
  $spacing: 10px;

  position: absolute;
  width: $sidebar-width;
  // height is determined via JS
  top: 0;
  right: 0;
  background-color: #999;
  height: 300px;
  padding: $spacing;
  overflow-y: scroll;

  div.img {
    display: inline-block;
    vertical-align: top;
    margin-right: $spacing;
    margin-bottom: $spacing;
    overflow: hidden;
    cursor: move;
  }
}

#editor-drag-clone {
  position: absolute;
  z-index: 10;
  opacity: 0.7;

  &.in-viewport {
    opacity: 1;
  }
}
