
// prevent rubber-band effect in webkit browsers when scrolling
// http://mir.aculo.us/2011/07/29/prevent-rubber-band-scrolling-for-single-page-apps-in-safari-5-1/
html, body {
  height: 100%;
  overflow: hidden
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Arial, sans-serif;

  &.editor-drag-active {
    cursor: move
  }
}

#editor-nav {
  $height: 40px;

  background: #222;
  color: white;
  padding-left: 60px;
  font-size: 13px;
  height: $height;
  line-height: $height;
}

#editor-main {
  position: relative;
}

$sidebar-width: 300px;

#editor-viewport {
  position: absolute;
  top: 0;
  left: 0;
  // height is determined via JS
  width: 100%;
  margin-right: $sidebar-width;
  background-color: silver;
  height: 300px;
  overflow: hidden;

  .editor-dragged-image {
    position: absolute;
    z-index: 10;
  }

  &.editor-tool-normal {
    cursor: normal;
  }
  &.editor-tool-hand {
    cursor: url('/images/editor/tool-hand.gif'), auto;
  }
  &.editor-tool-select {
    cursor: url('/images/editor/tool-select.gif'), auto;
  }
  &.editor-tool-bucket {
    cursor: url('/images/editor/tool-bucket.gif'), auto;
  }

  .editor-map-object {
    position: absolute;
    z-index: 5;

    &.drag-helper {
      opacity: 0.7;
    }
  }

  &.editor-tool-normal .editor-map-object {
    cursor: move
  }
}

.editor-map {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

#editor-toolbox {
  border-radius: 5px;
  border: 1px solid #666;
  background-color: rgba(235,235,235,0.8);
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  cursor: auto !important;

  > img {
    display: block;
    margin-bottom: 10px;
    border: 1px solid transparent;
    width: 24px;
    height: 21px;
    opacity: 0.5;

    &:hover, &.editor-active {
      opacity: 1;
    }
  }
}

#editor-sidebar {
  $spacing: 10px;

  position: absolute;
  width: $sidebar-width;
  // height is determined via JS
  top: 0;
  right: 0;
  background-color: #999;
  height: 300px;
  padding: $spacing;
  overflow-y: scroll;

  div.img {
    display: inline-block;
    vertical-align: top;
    margin-right: $spacing;
    margin-bottom: $spacing;
    overflow: hidden;
    cursor: move;
  }
}
