body {
  margin: 20px;
  font-family: Helvetica;
}

#viewport {
  // border: 1px solid red;
  // margin: 0 auto;
  position: relative;
  overflow: hidden
}

#viewport canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden
}
#viewport .background {
  z-index: 1
}
#viewport .foreground {
  z-index: 2
}

#fps-reporter {
  width: 85px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0
}

#collision-layer-debug-overlay {
  position: absolute;
  top: 0;
  left: 0
}
