<div id="editor-nav">
  <div id="editor-map-chooser">
    Current map:
    <select>
      <option>[new map]</option>
    </select>
  </div>
  <div id="editor-layer-chooser">
    Current layer:
    <select>
      <option value="foreground">Foreground</option>
      <option value="background">Background</option>
    </select>
  </div>
</div>

<div id="editor-main">
  <div id="editor-viewport">
  </div>
  <div id="editor-sidebar">
  </div>
</div>
