<div id="editor-nav">
  <div id="editor-map-chooser">
    Current map:
    <select>
      <option>[new map]</option>
    </select>
  </div>
  <div id="editor-layer-chooser">
    Current layer:
    <select></select>
  </div>
</div>

<div id="editor-main">
  <div id="editor-viewport">
    <div id="editor-map" class="editor-map-unloaded">
    </div>
  </div>
  <div id="editor-sidebar">
  </div>
</div>
