<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>THE GAME</title>
  <%= styles :game %>
  <%= scripts :game %>
</head>

<body>
Loading game, please wait...
</body>

</html>
