<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>THE GAME</title>
<link rel="stylesheet" href="/stylesheets/app/game.css">

<%= scripts %>

</head>

<body>
<div id="game">Loading assets, please wait...</div>
</body>

</html>
