<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>THE GAME</title>
  <link rel="stylesheet" href="/stylesheets/app/game.css">
</head>
<body>
  <p>Use WASD (or arrow keys) to move around.</p>

  <div id="main"></div>

  <script>
    var require = {
      baseUrl: '/javascripts'
    }
  </script>
  <script data-main="/javascripts/app/init.js" src="/javascripts/vendor/require.min.js"></script>
</body>
</html>
