body {
  margin: 30px;
  font-family: Helvetica;
}

.help {
  position: relative;
  display: inline;
  border-bottom: 1px dotted silver;
  font-size: 11px;
  font-weight: normal;
  /*vertical-align: super;*/
  cursor: help;
}
.help:hover .help-text {
  display: block;
}
.help-text {
  position: absolute;
  display: none;
  top: 17px;
  left: 0px;
  background-color: lightyellow;
  border-radius: 2px;
  border: 1px solid silver;
  border-right-width: 2px;
  border-bottom-width: 2px;
  padding: 0 8px;
  width: 320px;
}
.help-text p {
  margin: 6px 0;
}