html, body {
  width: 100%;
}

body {
  background-color: silver;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  background-color: white;
}

/*
#wrapper {
  width: 1100px;
  margin: 0 auto;
}
*/

#header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  overflow: auto;
}
#header h1 {
  font-size: 35px;
  float: left;
  margin: 0;
  margin-left: 15px;
  letter-spacing: -1px;
  z-index: 20;
}
#help {
  float: right;
  margin-right: 15px;
}
#help a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #666;
}
#help_box {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 300px;
  background-color: #333;
  color: white;
  font-size: 12px;
  line-height: normal;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.3s ease-in-out;
}
#help_box p {
  margin: 10px 0;
}
#help_box a {
  color: lightyellow;
  text-decoration: none;
  border-bottom: 1px dotted lightyellow;
}

#main {
  padding: 15px;
}

#left_pane {
  float: left;
  width: 170px;
  margin-right: 30px;
}
#center_pane {
  text-align: center;
}
#enlarged_canvas {
  border: 1px solid red;
  cursor: pointer;
  display: inline;
}
#right_pane {
  float: right;
  width: 350px;
}

.box {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 20px;
  /*float: left;*/
  overflow: auto;
  background-color: white;
}
.box h3 {
  margin: -20px;
  margin-bottom: 20px;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  text-align: center;
}

#tool_box {
  width: 130px;
  overflow: auto;
  margin-bottom: 20px;
}
#tool_box ul, #tool_box li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
#tool_box li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
#tool_box ul li:last-child {
  margin-right: 0;
}
#tool_box .tool {
  opacity: 0.5;
  cursor: pointer;
}
#tool_box .tool:hover, #tool_box .tool.selected {
  opacity: 1;
}
#tool_box .tool.selected {
  border-bottom: 2px solid gray;
}

#sizes_box {
  width: 130px;
  /*margin-left: 20px;*/
  margin-bottom: 20px;
}
#sizes_box canvas {
  border: 1px solid red;
  opacity: 0.5;
  /*
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  */
  margin: 0 auto 20px auto;
  cursor: pointer;
}
#sizes_box canvas:last-child {
  margin-bottom: 0;
}
#sizes_box canvas:hover, #sizes_box canvas.selected {
  opacity: 1;
}
#sizes_box canvas.selected {
  border-width: 2px;
}

#color_box {
  clear: left;
  margin-bottom: 20px;
  /*margin-right: 20px;*/
  /*text-align: center;*/
}
#color_box input {
  vertical-align: middle;
}
#color_sample {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  margin: 0 auto;
}
.color_controls, #color_sample {
  margin-top: 10px;
}
.color_controls label, .color_controls input, .color_controls span {
  display: inline-block;
}
.color_controls label {
  width: 75px;
}

#preview_box {
  /*
  width: 200px;
  height: 250px;
  */
}
#preview_box canvas {
  border: 1px solid rgba(255, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
}
#preview_box canvas:nth-child(2) {
  margin-bottom: 20px;
}